/* GLOBAL STYLES */
:root{
    --body-bg:#151515;
    --accent: #FFA01B;
    --contact-bg:#242424;
    --text-2:#D9D9D9;
    --text-1:#ffffff;
    --invalid: #FF6F5B;
    --fs-18:1.125rem;
    --fs-88:5.5rem;
    --fs-72:4.5rem;
    --fs-40:2.5rem;
    --fs-48:3rem ;
    --fs-32:2rem;
    --fs-24:1.5rem ;
    --container: 69.375rem;
    --transition: 250ms ease-in-out;

}

html{
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--body-bg);
    color: var(--text-1);
    font-size: var(--fs-18);
    line-height: 1.56;
}

a:hover{
    color: var(--accent);
    transition: var(--transition);
}

a{
    transition: ease-in-out 300ms;
    text-decoration: none;
    color: var(--text-1);
}

.line{
    margin-top: 60px;
    opacity: 0.7;
}

.wrapper{
    width: calc(100% - 2rem);
    max-width: var(--container);
    margin-inline: auto; 
}

/* 600px */
@media (min-width: 37.5em){
    .wrapper{
        width: calc(100% - 3.75rem);
    }
}

/* HEADER */
.header{
    display: flex;
    margin-top: 20px;
}

.header__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap: 20px 25px;
    margin-bottom: 30px;
}

.header__home{ 
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.02rem +2.04vw, 2rem);
    color:var(--text-1);
    text-decoration: none;
    /* flex: 1 0 100%; */
}

.header__social{
    display: inline-block;
}
.header__nav img:hover {
    width: 30px;
    height: 30px;
    transition: ease-in-out 400ms;
}

.header__nav img {
    transition: ease-in-out 600ms;
}

@media (min-width:37.5em){

    .header__nav {
        justify-content: space-between;
        flex-direction: row;
        text-align: left;
        align-items: center;
    }

}





/* HERO Section */

.hero img {
    max-width: 100%;
    height: auto; /* This ensures the aspect ratio is maintained */
    margin: 0 auto; /* Centers the image */
    margin-top: 10px;
    width: clamp(250px, 50%, 450px);
    z-index: 6;
}

.hero__down {
    display: none;
}

.hero__circle{
    filter: invert(100%);
    position: absolute;
    width: clamp(150px, 50%, 550px);
    top: 131px;
    left: 209px;
    opacity: 0.5;
    
}


.hero__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero__text {
    text-align: center;
   
}


.hero__contact{
    text-decoration: underline #ffad16;
        font-size: 0.8rem;
        line-height: 1.625;
        letter-spacing: 2.29px;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--text-1);

}

h1 > span{
    text-decoration: underline var(--accent);
    
}



h1,h2,h3,p{
    line-height: 1;
    margin-top: 0px;
}

h1{
    font-size: 2,5rem;
    font-size: clamp(2.5rem, 0.7rem + 7.68vw, 5.5rem);
}

.hero__description{
    display: none;
}

@media (min-width:67.5em){
    .hero__wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }
    .hero img {
        max-width: 100%;
        height: auto; /* This ensures the aspect ratio is maintained */
        display: block; /* Removes extra space below inline images */
        margin: 0 auto; /* Centers the image */
    }


    
    .hero__text{
        text-align: left;
    }

    h1,h2,h3,p{
        line-height: 1;
        margin-top: 0px;
    }

    h3{
        display: flex;
    }

    /* .hero__contact{
        text-decoration: underline #ffad16;
        font-size: 1rem;
        line-height: 1.625;
        letter-spacing: 2.29px;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--text-1);
    
    } */
}


/* SKILLS SECTION */
.skills{
    margin-top: 60px;
    text-align: center;
}

.skills__heading{
    text-decoration: underline var(--accent);
}

.skills__item{
    margin: 20px;
}

.skills__wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.skills__logo{
    width: clamp(40px,20%,100px);
    height: auto;
    
}


@media (min-width:47.5em){

    .skills{
        margin-top: 80px;
    }

    .skills__wrapper{
        display: flex;
        flex-direction: row;

    }

    .skills__logo{
        width: clamp(40px,40%,100px);
        height: auto;
        }

    .skills__title{
        justify-content: center;
    }

    .skills__heading{
        text-align: end;
        text-decoration: underline var(--accent);
    }
    
}
    



/* PROJECTS SECTION */

    .projects__heading{
        margin-top: 60px;
        text-decoration: underline var(--accent);
    }

     li {
        list-style: none;
      }
      input[type="radio"] {
        display: none;
      }
      .js-slider {
        position: relative;
        width: 80%;
        height: 100vh;
        margin: 0 auto;
      }
      .js-slider_item {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 1rem 3rem;
        opacity: 0;
        visibility: hidden;
        transform-origin: right center;
        transform: translate3d(0%, 0%, 0) rotateY(30deg) scaleX(0.95);
        transition: all 1s ease,transform 1s cubic-bezier(0.43, 0.28, 0.51, 1);
      }
      #s-1:checked ~ .js-slider .js-slider_item.img-1,
      #s-2:checked ~ .js-slider .js-slider_item.img-2,
      #s-3:checked ~ .js-slider .js-slider_item.img-3 {
        opacity: 1;
        visibility: visible;
        transform-origin: left center;
        transform: translate3d(0, 0, 0) rotateY(0deg) scaleX(1);
      }
      .js-slider_img {
        width: 100%;
        height: 60%;
        position: relative;
        overflow: hidden;
      }
      .c-img-w-full {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: auto;
        transform: translate3d(-50%, -50%, 0);
      }
      .c-img-h-full {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: 100%;
        transform: translate3d(-50%, -50%, 0);
      }
      figcaption {
        display: block;
      }
      .wo-h3 {
        margin-top: 6rem;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #ffffff;
      }
      
      .view-sm {
        display: none;
      }
      .js-slider_nav {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        transform: translate3d(0, -50%, 0);
      }
      .js-slider_nav_item.prev {
        left: 0;
      }
      .js-slider_nav_item.next {
        right:90px;
        transform: rotateY(180deg);
      }
      .js-slider_nav_item {
        position: absolute;
        display: none;
        width: 4rem;
        height: 4rem;
        border: 1px solid var(--accent);
        border-radius: 50%;
        cursor: pointer;
        transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      .js-slider_nav_item:before {
        content: "";
        display: block;
        position: absolute;
        left: 1rem;
        top: 55%;
        width: 1rem;
        height: 1px;
        background-color: var(--accent);
        transform-origin: left bottom;
        transform: translate3d(0, -50%, 0) rotate(-45deg);
        transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      .js-slider_nav_item:hover {
         transform: translate3d(-30%, 0, 0);
      }
      .js-slider_nav_item.next:hover {
         transform: rotateY(180deg) translate3d(-30%, 0, 0);
      }
      .js-slider_nav_item:hover:before {
        transform: translate3d(0, -50%, 0) rotate(-30deg);
      }
      .js-slider_nav_item:after {
        content: "";
        position: absolute;
        top: 55%;
        left: 50%;
        width: 2rem;
        height: 1px;
        background-color: var(--accent);
        transform: translate3d(-50%, -50%, 0);
      }
      #s-1:checked ~ .js-slider .js-slider_nav .s-nav-1,
      #s-2:checked ~ .js-slider .js-slider_nav .s-nav-2,
      #s-3:checked ~ .js-slider .js-slider_nav .s-nav-3 {
        display: block;
      }
      .js-slider_indicator {
        position: absolute;
        left: 0;
        top: 63%;
        width: 100%;
        text-align: center;
      }
      .js-slider-indi {
        position: relative;
        display: inline-block;
        padding: 2rem;
        cursor: pointer;
      }
      .js-slider-indi:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1rem;
        height: 1rem;
        border-radius: 1rem;
        background: var(--accent);
        transform: translate3d(-50%, -50%, 0);
      }
      .js-slider-indi:hover:after {
        transform: translate3d(-50%, -50%, 0) scale(1.5);
        transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      #s-1:checked ~ .js-slider .js-slider_indicator .indi-1:after,
      #s-2:checked ~ .js-slider .js-slider_indicator .indi-2:after,
      #s-3:checked ~ .js-slider .js-slider_indicator .indi-3:after {
        transform: translate3d(-50%, -50%, 0) scale(2.5);
      }

      .js-slider_nav_item.next {
            
        }

      @media (max-width:68rem){
        .js-slider_img {
            width: clamp(250px, 70%, 550px);
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%;
            position: relative;
            overflow: hidden;
        }

        .js-slider_indicator{
            display: none;
        }

        .js-slider {
            margin-right: 120px;
        }

        .js-slider_nav_item.next {
            right: -70px;
        }
      }

/* Animations */

.header__home {
    color: rgb(242, 242, 242) ;
    cursor: pointer;
    position: relative;
    
  }
  
.header__home:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -10px;
    left: -4px;
    transform: scaleX(0);
    box-shadow:
       0 5px 0 #E8476A,
      0 10px 0 purple;
    background: #FFA01B ;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
    text-shadow:
      -6px 6px 0 #E8476A,
      -9px 9px 0 purple;
  }
  
.header__home:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    
  }